<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-home"></i> Quản lý </a><ul>
    <li class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-th-list"></span> @Html.ActionLink("Thêm chỉ số điện nước công tơ", "Index", "CONGTODIENNUOC")</li>
    <li class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-th-list"></span> @Html.ActionLink("Hóa Đơn Điện Nước", "Index", "HD_DIENNUOC")</li>
    <li class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-th-list"></span> @Html.ActionLink("Hóa Đơn Phòng", "Index", "HD_Phong")</li>
    <li class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-th-list"></span> @Html.ActionLink("Dãy Phòng", "Index", "Dayphong")</li>
    <li class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-th-list"></span> @Html.ActionLink("Phòng", "Index", "Phong")</li>
    <li class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-th-list"></span> @Html.ActionLink("Nhân Viên", "Index", "Nhanvien")</li>
    <li class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-th-list"></span> @Html.ActionLink("Hỗ trợ", "Index", "HOTROes")</li>
    <li class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-th-list"></span> @Html.ActionLink("Thêm Chỉ Số Điện - Nước", "CreateDIEN_NUOC", "HD_DIENNUOC")</li>
</ul>
</div>
