<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-home"></i> Quản lý </a><ul>
    <li><i class="icon icon-th-list"></i> <span>@Html.ActionLink("Công tơ Điện - Nước", "Index", "CONGTODIENNUOCs")</span></li>
    <li><i class="icon icon-th-list"></i> <span>@Html.ActionLink("Xem Hóa Đơn Điện Nước", "Index", "UserVM")</span></li>
    <li><i class="icon icon-th-list"></i> <span>@Html.ActionLink("Xem Hóa Đơn Phòng", "XemHoaDon", "HD_Phong")</span></li>
    <li><i class="icon icon-th-list"></i> <span>@Html.ActionLink("Xem Nhân Viên", "Index", "XemNV")</span></li>
    <li><i class="icon icon-th-list"></i> <span>@Html.ActionLink("Hỗ trợ", "Index", "HOTROes")</span></li>
    <li><i class="icon icon-th-list"></i> <span>@Html.ActionLink("Thêm Chỉ Số Điện - Nước", "CreateDIEN_NUOC", "UserVM")</span></li>
</ul>
</div>
