<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-home"></i> Quản lý </a><ul>
    <li><i class="icon icon-th-list"></i> <span>@Html.ActionLink("Cán bộ", "Index", "Canbo")</span></li>
    <li><i class="icon icon-th-list"></i> <span>@Html.ActionLink("Nhân viên", "Index", "Nhanvien")</span></li>
    <li><i class="icon icon-th-list"></i> <span>@Html.ActionLink("Dãy phòng", "Index", "Dayphong")</span></li>
    <li><i class="icon icon-th-list"></i> <span>@Html.ActionLink("Phòng", "Index", "Phong")</span></li>
    <li><i class="icon icon-th-list"></i> <span>@Html.ActionLink("Tạo hóa đơn điện nước", "Index", "HOADON_DIENNUOC")</span></li>
    <li><i class="icon icon-th-list"></i> <span>@Html.ActionLink("Đăng ký phòng cho nhân viên", "Index", "ThemNV")</span></li>
    <li><i class="icon icon-th-list"></i> <span>@Html.ActionLink("Hóa đơn phòng", "Index", "HOADON_PHONG")</span></li>
    <li><i class="icon icon-th-list"></i> <span>@Html.ActionLink("Công tơ điện nước", "Index", "DIENNUOCs")</span></li>
    <li><i class="icon icon-th-list"></i> <span>@Html.ActionLink("Đơn giá", "Index", "Dongia")</span></li>
    <li><i class="icon icon-th-list"></i> <span>@Html.ActionLink("Hỗ trợ", "Index", "HOTROes")</span></li>
</ul>
</div>
