@model IEnumerable<Model.EF.HOTRO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


@section header{
    Quản Lý Danh Sách Hỗ Trợ
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>Danh Sách Hỗ Trợ</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered data-table">
                        <thead>
                            <tr>
                                <th>Mã Dãy</th>
                                <th>Mã Phòng</th>
                                <th>Nội Dung</th>
                                <th>Ngày Gửi</th>
                                <th>Trạng Thái</th>
                                <th><div class="fr"><p class="btn btn-primary btn-mini">@Html.ActionLink("Thêm mới", "Create")</p></div></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeX">
                                    <td>@Html.DisplayFor(modelItem => item.PHONG.DAYPHONG.MADAYPHONG)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PHONG.MAPHONG)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NOIDUNG)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NGAYGUI)</td>
                                    <td>
                                        @{
                                            int? temp = item.TRANGTHAI;
                                        }
                                        @if (temp == 0)
                                        {
                                            <p>Chưa được duyệt</p>
                                        }
                                        else if (temp == 1)
                                        {
                                            <p>Đã được duyệt</p>
                                        }
                                    </td>
                                    <td><div class="fr">@*<p class="btn btn-warning btn-mini">@Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.ID_PHIEU })</p> | *@<p class="btn btn-success btn-mini">@Html.ActionLink("Chi tiết", "Details", new { id = item.ID_PHIEU })</p>@* | <p class="btn btn-danger btn-mini">@Html.ActionLink("Xóa", "Delete", new { id = item.ID_PHIEU })</p>*@</div></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PHONG.MAPHONG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOIDUNG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYGUI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PHONG.MAPHONG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOIDUNG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGAYGUI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TRANGTHAI)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_PHIEU }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_PHIEU }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_PHIEU })
            </td>
        </tr>
    }

</table>*@
