@model Model.EF.HOTRO

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/CanBo/Views/Shared/_Layout2.cshtml";
}


@section header{
    Chi Tiết Thông Tin Hỗ Trợ
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Thông Tin Hỗ Trợ</h5>
                </div>
                <div class="widget-content nopadding">
                    <div class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">Dãy Phòng:</label>
                            <div class="controls">
                                <input type="text" placeholder="@Html.DisplayFor(model => model.PHONG.DAYPHONG.MADAYPHONG)" disabled="" class="span11">

                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Mã Phòng:</label>
                            <div class="controls">
                                <input type="text" placeholder="@Html.DisplayFor(model => model.PHONG.MAPHONG)" disabled="" class="span11">

                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Nội Dung:</label>
                            <div class="controls">
                                <textarea type="text" placeholder="" disabled="" class="span11">@Html.DisplayFor(model => model.NOIDUNG)
                                </textarea>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Ngày Gửi:</label>
                            <div class="controls">
                                <input type="text" placeholder="@Html.DisplayFor(model => model.NGAYGUI)" disabled="" class="span11">


                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Trạng Thái:</label>
                            <div class="controls">
                                <input type="text" placeholder="@Html.DisplayFor(model => model.TRANGTHAI)" disabled="" class="span11">

                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="col-md-offset-2 col-md-10">
                                <p class="btn btn-warning">@Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ID_PHIEU })</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-actions">
    <p class="btn btn-info">@Html.ActionLink("Quay lại trang danh sách", "Index")</p>
</div>

@*<h2>Details</h2>

    <div>
        <h4>HOTRO</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PHONG.MAPHONG)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PHONG.MAPHONG)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NOIDUNG)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOIDUNG)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NGAYGUI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NGAYGUI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TRANGTHAI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TRANGTHAI)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PHIEU }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@

@*<h2>Details</h2>

<div>
    <h4>HOTRO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PHONG.MAPHONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONG.MAPHONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOIDUNG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOIDUNG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYGUI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYGUI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PHIEU }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
